@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>supConf</h5>
            </div>
        </div>
    </div>
</div>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script type="text/javascript" src="${ctxPath}/static/modular/system/test/echarts-en.min.js"></script>
    <script type="text/javascript" src="${ctxPath}/static/modular/system/test/echarts.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 1200px;height:800px;"></div>
<script type="text/javascript">
    var visual;
    $.ajax({
        url:"/visual/supConfVisual",
        type:"POST",
        dataType:"json",
        success:function (result) {
            visual=result;
            console.log(visual);
            var myChart = echarts.init(document.getElementById('main'));
            var option = {
                xAxis: {max:20},
                yAxis: {max:2.5},
                series: [{
                    symbolSize: 20,
                    data: visual,
                    type: 'scatter'
                }]
            };
            myChart.setOption(option);

        }
    });


</script>
</body>
</html>
@}
