<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.NodesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Nodes">
        <id column="id" property="id" />
        <result column="projectid" property="projectid" />
        <result column="projectname" property="projectname" />
        <result column="projectcount" property="projectcount" />
        <result column="catycray" property="catycray" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, projectid, projectname, projectcount, catycray
    </sql>

</mapper>
