<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.VisualMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Visual">
        <id column="id" property="id" />
        <result column="sources" property="sources" />
        <result column="target" property="target" />
        <result column="sup" property="sup" />
        <result column="conf" property="conf" />
        <result column="catycray" property="catycray" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sources, target, sup, conf, catycray
    </sql>

</mapper>
