@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>test</h5>
            </div>
        </div>
    </div>
</div>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script type="text/javascript" src="${ctxPath}/static/modular/system/test/echarts-en.min.js"></script>
    <script type="text/javascript" src="${ctxPath}/static/modular/system/test/echarts.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 1200px;height:800px;"></div>
<script type="text/javascript">
    var nodes,links
    $.ajax({
        url:"/nodes/visualData",
        type:"POST",
        dataType:"json",
        success:function (result) {
            nodes=result.nodes;
            links=result.links;
            console.log(nodes)

            var categoryArray=[{name:"0"},{name:"1"},{name:"2"},{name:"3"},{name:"4"},{name:"5"},{name:"6"},{name:"7"}]
            var jsondata={"categories":categoryArray,"nodes":nodes,"links":links}
            // 基于准备好的容器(这里的容器是id为chart1的div)，初始化echarts实例

            jsondata.nodes.forEach(function (node) {
                //node.itemStyle = null;//
                //node.symbolSize = node.size;//强制指定节点的大小
                // Use random x, y
                node.x = node.y = null;
                node.draggable = true;
            });

            var title=jsondata['title']
            var nodess=jsondata['nodes']
            var linkss=jsondata['links']
            var categories=jsondata['categories']

            console.log(nodess);
            console.log(linkss);
            var myChart = echarts.init(document.getElementById('main'));
            var option = {
                title : {
                    text:"test"
                },
                tooltip : {
                    trigger: 'item',
                    formatter: '{b}:{c}'
                    //formatter: function(params){//触发之后返回的参数，这个函数是关键
                    //if (params.data.category !=undefined) //如果触发节点
                    //   window.open("http://www.baidu.com")
                    //}
                },
                legend: {
                    data: categories.map(function (a) {//显示策略
                        return a.name;
                    })
                },
                series : [
                    {
                        type:'graph',
                        name : title,
                        layout:'circular',
                        symbolSize: 80,
                        edgeSymbol: ['circle', 'arrow'],
                        edgeSymbolSize: [4, 10],
                        edgeLabel: {
                            normal: {
                                textStyle: {
                                    fontSize: 20
                                }
                            }
                        },
                        itemStyle: {
                            borderColor: '#fff',
                            borderWidth: 1,
                            shadowBlur: 10,
                            shadowColor: 'rgba(0, 0, 0, 0.3)'
                        },
                        lineStyle: {
                            width: 3,
                            color: 'source',
                            curveness: 0.3
                        },
                        label: {
                            show:true,
                            position: 'right',
                            formatter: '{b}',
                            color:'auto',
                            fontStyle:'italic'
                        },
                        focusNodeAdjacency: true,
                        draggable: true,
                        categories : categories,
                        roam: 'true',
                        data: nodess,
                        links :linkss,

                    }
                ]
            };
            myChart.setOption(option);


        }
    });
    // var nodes=[
    //     {"category":0, "name": '乔布斯', "value" : 10, "symbolSize": 100},
    //     {"category":1, name: '丽萨-乔布斯',value : 2,symbolSize:20},
    //     {"category":1, name: '保罗-乔布斯',value : 3,symbolSize:30},
    //     {category:1, name: '克拉拉-乔布斯',value : 3,symbolSize:30},
    //     {category:1, name: '劳伦-鲍威尔',value : 7,symbolSize:70},
    //     {category:2, name: '史蒂夫-沃兹尼艾克',value : 5,symbolSize:50},
    //     {category:2, name: '奥巴马',value : 8,symbolSize:80},
    //     {category:2, name: '比尔-盖茨',value : 9,symbolSize:90},
    //     {category:2, name: '乔纳森-艾夫',value : 4,symbolSize:40},
    //     {category:2, name: '蒂姆-库克',value : 4,symbolSize:40},
    //     {category:2, name: '龙-韦恩',value : 1,symbolSize:10},
    //     ]
    //
    // var links = [
    //     {"source" : '丽萨-乔布斯', "target" : '乔布斯',"lineStyle":{"width":1}},
    //     {source : '保罗-乔布斯', target : '乔布斯', lineStyle:{width:2}},
    //     {source : '克拉拉-乔布斯', target : '乔布斯', lineStyle:{width:1}},
    //     {source : '劳伦-鲍威尔', target : '乔布斯', lineStyle:{width:2}},
    //     {source : '史蒂夫-沃兹尼艾克', target : '乔布斯', lineStyle:{width:3}},
    //     {source : '奥巴马', target : '乔布斯', lineStyle:{width:1}},
    //     {source : '比尔-盖茨', target : '乔布斯', lineStyle:{width:6}},
    //     {source : '乔纳森-艾夫', target : '乔布斯', lineStyle:{width:1}},
    //     {source : '蒂姆-库克', target : '乔布斯', lineStyle:{width:1}},
    //     {source : '龙-韦恩', target : '乔布斯', lineStyle:{width:1}},
    //     {source : '克拉拉-乔布斯', target : '保罗-乔布斯', lineStyle:{width:1}},
    //     {"source" : '奥巴马', target : '保罗-乔布斯', lineStyle:{width:1}},
    //     {source : '奥巴马', target : '克拉拉-乔布斯', lineStyle:{width:1}},
    //     {source : '奥巴马', target : '劳伦-鲍威尔', lineStyle:{width:1}},
    //     {source : '奥巴马', target : '史蒂夫-沃兹尼艾克', lineStyle:{width:1}},
    //     {source : '比尔-盖茨', target : '奥巴马', lineStyle:{width:6}},
    //     {source : '比尔-盖茨', target : '克拉拉-乔布斯', lineStyle:{width:1}},
    //     {source : '蒂姆-库克', target : '奥巴马', lineStyle:{width:1}}
    // ]



</script>
</body>
</html>
@}
